@if(form){
    <form class="container border col-sm-6" [formGroup]="form" (ngSubmit)="save()" method="post">
        <h1>
            @if(teacher){
                Actualizar
            }@else{
                Crear nuevo   
            }
            registro de profesor
        </h1>
        <div class="form-group">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div>
                <input id="nombre" type="text" class="form-control" placeholder="name" formControlName="nombre" />
                    <div *ngIf="form?.get('nombre')?.invalid && form?.get('nombre')?.touched" class="text-danger">
                        <small *ngIf="form?.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
                        <small *ngIf="form?.get('nombre')?.errors?.['maxlength']">El nombre no debe superar los 100 caracteres.</small>
                    </div>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">
                @if(teacher){
                    Actualizar
                }@else{
                    Guardar  
                }
            </button>
            <a href="/profesores" class="btn btn-warning" style="float: right;">Volver</a>
        </div>
        <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{successText}}
        </div>
    </form>
    
}
