<div class="container mt-2">
    <h1 style="padding-top:5%;">Listado de notas</h1>
    <div style="display: block;">
        <a href="/formnota" class="btn btn-outline-primary" style="float: right;">Agregar nota</a>
          <div *ngIf="successMessage" class="alert alert-danger mt-3">
              {{successText}}
          </div>
      </div>
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Estudiante</th>
              <th>Profesor</th>
              <th>Nota</th>
              <th style="width:10%">Acciones</th>
          </tr>
      </thead>
      <tbody>
          @for (nota of lstnotas; track nota.id) {
              <tr>
                  <td>{{nota.id}}</td>
                  <td>{{nota.nombre}}</td>
                  <td>{{ lstestMap.get(+nota.estudiante)?.nombre || 'Desconocido' }}</td>
                  <td>{{ lstprofesMap.get(+nota.profesor)?.nombre || 'Desconocido' }}</td>
                  <td>{{ nota.valor | number:'1.2-2' }}</td>
                  <td style="display:flex;justify-content: space-evenly;">
                  <a href="/formnota/{{nota.id}}" class="btn btn-outline-secondary" title="editar">
                      <i class="bi bi-pencil-fill"></i>
                  </a>
                  <button class="btn btn-outline-danger" (click)="deleteNota(nota)" title="eliminar">
                      <i class="bi bi-trash3-fill" ></i>
                  </button>
                  </td>
              </tr>    
          }
          
      </tbody>
  </table>
  </div>